body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(211, 192, 165);
}

a {
  color: #00B7FF;
}
.banner {
  width: 100%;
  height: auto; /* Ajusta a altura automaticamente para manter a proporção */
}

.banner img {
  width: 100%;
  height: auto;
  display: block; /* Remove o espaço abaixo da imagem */
}