<%- include('../layout') %>
<div class="container">
    <h2><% title %></h2>
    <form action="/pacientes/update" method="POST">
        <label class="col-sm-2 col-form-label">Selecione o Paciente</label>
        <select class="form-control" id="paciente" name="cpf" onchange="preencherCampos()">
            <option value="">Selecione um paciente</option>
            <% pacientes.forEach(paciente => { %>
                <option value="<%= paciente.cpf %>"><%= paciente.nome_completo %></option>
            <% }); %>
        </select>

        <br><br>
        <div class="row mb-2">
            <label class="col-sm-2 col-form-label">Nome</label>
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-lg" id="nome" name="nome_completo" required>
            </div>
        </div>
        <div class="row mb-2">                
            <label class="col-sm-2 col-form-label">Idade</label>
            <div class="col-sm-10">
                <input type="number" class="form-control form-control-lg" id="idade" name="idade" required>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2 col-form-label">Dia da consulta</label>
            <div class="col-sm-10">
                <input type="date" name="dia_consulta" id="dia_consulta" class="form-control form-control-lg">
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2 col-form-label">Hora da consulta</label>
            <div class="col-sm-10">
                <input type="time" name="hora_consulta" id="hora_consulta" class="form-control form-control-lg">
            </div>
        </div>
        <span id="consulta-status" class="alert alert-warning" style="display: none;"></span> <!-- Span para exibir a mensagem -->
        <button type="submit" class="btn btn-primary">Atualizar</button>
    </form>
</div>

<script>
function preencherCampos() {
    const pacienteCpf = document.getElementById('paciente').value;
    const span = document.getElementById('consulta-status')
    fetch(`/pacientes/update/${pacienteCpf}`)
        .then(response => response.json())
        .then(paciente => {
            if (paciente.dia_consulta !== '0000-00-00' && paciente.hora_consulta !== '00:00:00') {
                document.getElementById('nome').value = paciente.nome_completo;
                document.getElementById('idade').value = paciente.idade;
                document.getElementById('dia_consulta').value = paciente.dia_consulta;
                document.getElementById('hora_consulta').value = paciente.hora_consulta;
                span.style.display = 'none';   
                span.textContent = ''; // Limpa a mensagem caso tenha consulta
            } else {
                // Limpa os campos e exibe mensagem de ausência de consulta
                document.getElementById('nome').value = paciente.nome_completo;
                document.getElementById('idade').value = paciente.idade;
                document.getElementById('dia_consulta').value = '';
                document.getElementById('hora_consulta').value = '';
                span.style.display = 'block';
                span.textContent = 'Este paciente não tem consulta cadastrada.';
            }
        })
        .catch(error => {
            console.error('Erro ao buscar paciente:', error);
            document.getElementById('consulta-status').textContent = 'Erro ao buscar paciente. Tente novamente.';
        });
}
</script>
